*{
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;

}
html {
    scroll-behavior: smooth;
}
h1 {
    font-size: 2.90em;
}

h2 {
    font-size: 2.7em;
}

h3 {
    font-size: 2em;
}

p {
    font-size: 1.25em;
}
.container {
    max-width: 1400px;
    margin: auto;
}
button {
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
    color: white;
    background-color: seagreen;
    cursor: pointer;

}
button:hover {
    background-color: darkgreen;;
}
header {
    background-color: seagreen;
    color: white;
    padding: 10px 0;
    text-align: center;
}
header .titulo {
    margin : 0;
    padding: 25px 30px;
    font-weight: bold;
    font-size: 1em;
} 
header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
header a {
    padding: 5px 12px;
    color : white;
    font-weight: bold;
    text-decoration: none;
}
header a:hover {
    background-color: #45a049;
    border-radius: 5px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
}
nav a {
    margin: 0 10px;
}

main {
    padding: 20px;
}
section {
    margin-bottom: 40px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
#inicio {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color: white;
    background-image: linear-gradient(0deg,
    rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('img/canchabienvenidop.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#inicio h2 {
    font-size: 2.7em;
    margin-bottom: 20px;
}
#inicio h3 {
    font-size: 2em;
    margin-bottom: 20px;
}
#nosotros {
    background-image: linear-gradient(0deg,
    rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('img/quienes.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}
#nosotros .container {
    color: white;
    text-align: center;
    padding: 200px 12px;
}
#canchas{
    background-color: rgb(30, 30, 30);
    color: white;
    text-align: center;
    
}
#canchas .container{
    padding: 100px 12px;
}
#canchas h2{
    margin-top: 20px;
    font-size: 2em;
    
}
#canchas .carta{
    background-size: cover;
    background-position: center center;
    padding: 50px;
    margin: 20px;
    border-radius: 15px;
}
.carta:first-child{
    background-image: linear-gradient( 0deg,
    rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('img/plazanorte.jpg');
    
}
.carta:nth-child(2){
    background-image: linear-gradient( 0deg,
    rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('img/cancha2.jpg');
}
.carta:nth-child(3){
    background-image: linear-gradient( 0deg,
    rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('img/canchas3.jpg');
}
#canchas2{
    background-color: rgb(30, 30, 30);
    color: white;
    text-align: center;
    
}
#canchas2 .container{
    padding: 100px 12px;
}

#canchas2 .cartas{
    background-size: cover;
    background-position: center center;
    padding: 50px;
    margin: 20px;
    border-radius: 15px;
}
.cartas:first-child{
    background-image: linear-gradient( 0deg,
    rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('img/cancha4.jpg');
    
}
.cartas:nth-child(2){
    background-image: linear-gradient( 0deg,
    rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('img/cancha5.jpg');
}
.cartas:nth-child(3){
    background-image: linear-gradient( 0deg,
    rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('img/canchas6.jpg');
}

#noticias {
    background-color: seagreen;
    color: white;
    text-align: center;
}
#noticias .container{
    padding: 100px 12px;
}
#noticias h2{
    margin-top: 0;
    font-size: 3em;
}
#noticias .container{
    background-size: cover;
    background-position: center center;
    padding: 50px;
    margin: 20px;
    border-radius: 15px;
}
footer {
    background-color: rgb(100, 100, 100);
}
footer .container{
    height: 150px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
@media (min-width: 720px){

    header .container{
        flex-direction: row;
        justify-content: space-between;        
    }
    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;

    }
    header h1{
        font-size: 5em;
    }
    #inicio .container{
        display: flex;
        justify-content: center;
    }
    #inicio h2{
        margin-top: 0px;
    }
    #inicio h3{
        margin-top: 0px;
    }
    #canchas .programas{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        
    }
    #canchas .container{
        justify-content: center;
        
    }
    
    #canchas h3{
        margin-top: 3%;
    }
    #canchas .carta{
        padding: 70px;
        margin-bottom: 20px;
    }
    #canchas2 .programas{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    #canchas2 .container{
        display: flex;
        justify-content: center;
    }
    #canchas2 h3{
        margin-top: 3%;
    }
    #canchas2 .cartas{
        padding: 70px;
        margin-bottom: 20px;
    }
}
/*login y register*/

.login-main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

.login-section {
    padding: 40px;
    background-color: rgb(30, 30, 30);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 500px;
    width: 90%;
}

.login-container h2 {
    color: white;
    margin-bottom: 20px;
    font-size: 2.5em;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-group {
    text-align: left;
}

.form-group label {
    font-size: 1.2em;
    color: white;
    margin-bottom: 5px;
    display: block;
}

.form-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1em;
}

.login-button {
    width: 100%;
    padding: 15px;
    background-color: seagreen;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: darkgreen;
}

.register-link {
    margin-top: 20px;
    font-size: 1em;
    color: #777;
}

.register-link a {
    color: seagreen;
    text-decoration: none;
    font-weight: bold;
}

.register-link a:hover {
    text-decoration: underline;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

header .titulo h1 {
    margin: 0;
    padding: 0;
}

header nav a {
    padding: 5px 12px;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.carrito a {
    color: white;
    text-decoration: none;
}

.login a {
    color: white;
    text-decoration: none;
}