*{
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}
h1 {
    font-size: 3.5em;
}

h2 {
    font-size: 2.7em;
}

h3 {
    font-size: 2em;
}

p {
    font-size: 1.25em;
}
.container {
    max-width: 1400px;
    margin: auto;
}
header {
    background-color: seagreen;
    color: white;
    padding: 10px 0;
    text-align: center;
}
header .titulo {
    margin : 0;
    padding: 25px 30px;
    font-weight: bold;
    font-size: 1.65em;
} 
header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
header a {
    padding: 5px 12px;
    color : white;
    font-weight: bold;
    text-decoration: none;
}
header a:hover {
    background-color: #45a049;
    border-radius: 5px;
}
