/* ShoppingCartIcon Styles */

.cart-icon-link {
  text-decoration: none;
  color: inherit;
}

.cart-icon {
  position: relative;
  cursor: pointer;
  font-size: 24px;
  color: white;
}

.cart-badge {
  position: absolute;
  top: -8px;
  right: -10px;
  background-color: white;
  color: var(--topbar);
  border-radius: 50%;
  padding: 1px 6px;
  font-size: 11px;
  font-weight: bold;
}
